*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    min-height: 100vh;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.amount{
    padding: 20px 0px;
}

.container{
    width: 100%;
    max-width: 350px;
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.fromFlag,.toFlag{
    width: 54px;
    height: 54px;
    border-radius: 22px;
}

.dropdowns {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 600px) {
    .dropdowns {
        flex-direction: column;
    }
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
}

.result {
    margin-top: 20px;
}

.result p {
    margin-bottom: 10px;
}

.result input {
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}
